---
BasedOnStyle: Google

AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: Always
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakBeforeMultilineStrings: false
BreakAfterReturnType: ExceptShortType 
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: false
BracedInitializerIndentWidth: 2
BinPackParameters: true
ColumnLimit: 100
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
EmptyLineAfterAccessModifier: Never
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentWidth: 2
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerBindsToType: true
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SeparateDefinitionBlocks: Always
SpacesBeforeTrailingComments: 2
Standard: Auto
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterControlStatementKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpacesInCStyleCastParentheses: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInLineCommentPrefix.Minimum: 1
SortIncludes: false
SpacesInParens: Never
SpaceAfterCStyleCast: false
QualifierAlignment: Left
TabWidth: 2
UseTab: Never

# Control of individual brace wrapping cases
BraceWrapping: {
    AfterClass: 'true'
    AfterControlStatement: 'true'
    AfterEnum : 'true'
    AfterFunction : 'true'
    AfterNamespace : 'true'
    AfterStruct : 'true'
    AfterUnion : 'true'
    BeforeCatch : 'true'
    BeforeElse : 'true'
    IndentBraces : 'false'
}
...
